@media only screen and (max-width:768px){
  nav{
    display: flex;
  width: 94.5rem;
  height: 4.5rem;
  /* padding: 0.5rem 10.1875rem 0.5rem 10rem; */
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  }
  .nav-bar{
    display: flex;
  align-items: center;
  gap: 3rem;
  display: none;
  
  }
  .nav-bar a{
    color: var(--neutral-10, #486284);
  text-align: center;
  /* body/small */
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.03125rem;
  text-decoration: none;
  }
  
  .nav-btn{
    display: flex;
    color: white;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.125rem;
  border: 1px solid var(--neutral-10, #486284);
  background: var(--neutral-10, #486284);
  }
  .bars-img{
    display: block;
  }
/* hero-card */
.hero-card
{
  display: flex;
  flex-direction: column;
align-items: center;
gap: 1.93rem;
padding: 1rem;
margin-top: 6.5rem;
}
/* cont-sec */
.conten-top{
  display: flex;
  flex-direction: column;
align-items: flex-start;
gap: 4rem;
align-self: stretch;
}
/* cont-sec2 */
.cont-sec2-p{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  align-self: stretch;
  margin-top: 1rem;
  }

}

@media only screen and (max-width:600px){
  .hero-card
{
  display: flex;
  flex-direction: column;
align-items: center;
width: 100%;
gap: 1.93rem;
padding: 1rem;
margin-top: 6.5rem;
}
.hero-left{
  display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
gap: 1.5rem;
flex-shrink: 0;
/* border: 1px solid red; */
}
.herol-p{
color: var(--neutral-10, #486284);
width: 38.25rem;
/* subtitle/small */
font-family: DM Sans;
font-size: 1.3125rem;
font-style: normal;
font-weight: 500;
line-height: 1.375rem; /* 104.762% */
letter-spacing: 0.00938rem;
}
.hero-h2{
  color: var(--neutral-10, #486284);
/* title/large */
font-family: DM Sans;
white-space: wrap;
width: 100%;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 4.75rem; /* 126.667% */
letter-spacing: 0.03125rem;

}
.hero-left p{
  width: 100%;
  color: var(--neutral-7, #8CA2C0);
/* body/large */
font-family: DM Sans;
font-size: 1.18rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; /* 160% */
letter-spacing: 0.03125rem;
}
.hero-right img{
  display: flex;
padding: 0.400rem;
justify-content: center;
width: 100%;
align-items: center;
gap: 0.400rem;
flex: 1 0 0;
align-self: stretch;
border-radius: 1.5rem;
background: var(--neutral-1, #EFF2F6);


/* cont-sec */
.conten-top{
  display: flex;
  flex-direction: column;
align-items: flex-start;
gap: 4rem;
align-self: stretch;
}
.cont-tl{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1.5rem;
flex: 1 0 0;
width: 100%;
}
.cont-tl h2{
  color: var(--neutral-10, #486284);

/* subtitle/large */
width: 100%;
font-family: DM Sans;
font-size: 1.75rem;
font-style: normal;
font-weight: 500;
line-height: 2rem; /* 114.286% */
}
.cont-tl p{
  color: var(--neutral-7, #8CA2C0);
/* body/large */
font-family: DM Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; /* 160% */
letter-spacing: 0.03125rem;
width: 100%;
}
.cont-img img{
  display: flex;
justify-content: center;
width: 100%;
align-items: center;
align-self: stretch;
border-radius: 1.5rem;
background: var(--neutral-1, #EFF2F6);
}




/* cont-sec2 */
.cont-sec2-p{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  align-self: stretch;
  margin-top: 1rem;
  }
}
}